{namespace k=Tx_ExtensionBuilder_ViewHelpers}<k:format.removeMultipleNewlines>
<k:comment>
	Use the section "header" to call ViewHelpers which modify the configuration
	of the PageRenderer, f.e. to include custom CSS or JavaScript.
</k:comment>

<k:be.configuration/>
<k:be.extDataModel />

<k:be.resourceInclude directory="JavaScript/Core/" pattern="/.*\.js$/" />
<k:be.resourceInclude directory="JavaScript/Components/" pattern="/.*\.js$/" />
<k:be.resourceInclude file="JavaScript/Module/AbstractModule.js" />
<k:be.resourceInclude directory="JavaScript/Module/Introduction" pattern="/.*\.js$/" />
<k:be.resourceInclude directory="JavaScript/Module/Configurator" pattern="/.*\.js$/" />
<k:be.resourceInclude directory="JavaScript/Module/Modeler" pattern="/.*\.js$/" />
<k:be.resourceInclude file="JavaScript/Main.js" />
<k:be.resourceInclude directory="StyleSheet/" pattern="/.*\.css$/" type="CSS" />

<f:render section="header" />

</k:format.removeMultipleNewlines><f:be.container loadPrototype="false" loadScriptaculous="false">
	<div class="typo3-fullDoc">
		<div id="typo3-docheader">
			<div id="typo3-docheader-row1">
				<div class="buttonsleft">
					<f:render section="iconButtons" />
				</div>
				<div class="buttonsright">
					<f:be.buttons.shortcut />
				</div>
			</div>
			<div id="typo3-docheader-row2">
				<div class="docheader-row2-left">
					<f:be.buttons.csh />
				</div>
				<div class="docheader-row2-right">
					<span class="logo"></span>
				</div>
			</div>
		</div>
		<div id="typo3-docbody"></div>
	</div>
</f:be.container>
