{namespace k=Tx_ExtensionBuilder_ViewHelpers}
<f:layout name="Default" />

<f:section name="header">
</f:section>
<f:section name="iconButtons">
</f:section>
<f:section name="content">

	<div id="domainModelEditor">

		<div id="left">
			<div id="propertiesForm"></div>
		</div>

		<div id="center">
			<div id="moduleBar"></div>
			<div id="modelingLayer"></div>
		</div>

		<div id="bottom">
			<center><div id="toolbar"></div></center>
		</div>

		<div id="helpPanel">

		</div>

	</div>
</f:section>